<div class="header-menu-main">
    <div class="second-background">
        <div class="menu-array">
            <div class="user-details"></div>
            <button class="menu-btn-layers"><div class="menu-btn"></div></button>
            <button class="menu-btn-identify"><div class="menu-btn"></div></button>
            <button class="menu-btn-search"><div class="menu-btn"></div></button>
            <button class="menu-btn-draw"><div class="menu-btn"></div></button>
            <button class="menu-btn-tasks"><div class="menu-btn"></div></button>
            <button class="menu-btn-round"><div class="menu-btn"></div></button>
            <button class="menu-btn-options"><div class="menu-btn"></div></button>
            <input type="text" class="search-field" />

        </div>
    </div>
</div>