html, body, .appLayout {
  width: 100%; height: 100%;
  border: 0; padding: 0; margin: 0;
  position: relative;
}

.claro .dijitContentPane {
  padding: 0;

}

.left-panel {
  //width: 237px;
  background-color: red;
  display: none;
}

.left-panel.active {
  display: block;
  width: 237px;
}