/* Высота и общий цвет */
.header-menu {
  height: 58px;
  background: #000 url('../images/header_background.png') repeat-x;

  .header-menu-main{
    // todo - переделать на сss, но пока и так сойдет
    background: url('../images/HeaderLogo.png') no-repeat;
    height: 100%;
  }

  .second-background {
    background: url('../images/test.png') no-repeat;
    background-size: 100% 70%;
    height: 100%;
  }

  @import 'menu-array.scss';

  @import 'indication.scss';

  @import "searchPanel.scss";

  @import "userDetails.scss";
}