@import "compass/css3/user-interface";
.user-details{
  height: 52px;
  margin: 0 50px 0 10px;
  width: 200px;
  float: right;
  .portrait {
    background: url('../images/portret.png') no-repeat;
    height: 25px;
    // width: 25px;
    margin-top: 15px;
    padding-left: 30px;
    line-height: 30px;
    font-family: "Arial";
    font-size: 18px;
    color: #cee2ff;
    float:left;
    @include user-select(none);
    cursor: default;
  }
  .expand{
    width:24px;
    height: 24px;
    background: url('../images/triangle.png') no-repeat;
    float:left;
    margin: 23px 0 0 5px;
  }
}