.menu-array {
  margin-left: 28%;
  height: 100%;

  //Подложка для кнопки меню становиться синего цета
  .active[class^="menu-btn-"] {
    background: url(../images/button_active.png) no-repeat;
  }

  // Рисунки кнопок - первоначальный размер для всех кнопок меню
  [class^="menu-btn-"]{
    width: 44px;
    height: 44px;
    border:0;
    padding:0;
    margin:0;
    margin-top:10px;
    cursor: pointer;
    background: transparent;
  }

  [class^="menu-btn-"] .menu-btn{
    widows: 100%;
    height: 100%;
  }


  .menu-btn-layers .menu-btn{
    background: url(../images/menuLayers.png);
  }

  .menu-btn-identify .menu-btn{
    background: url(../images/menuIdentify.png);
  }
  .menu-btn-search .menu-btn{
    background: url(../images/menuFind.png);
  }
  .menu-btn-draw .menu-btn{
    background: url(../images/menuDraw.png);
  }
  .menu-btn-tasks .menu-btn{
    background: url(../images/menuTasks.png);
  }
  .menu-btn-round .menu-btn{
    background: url(../images/menuTurn.png);
  }
  .menu-btn-options .menu-btn{
    background: url(../images/menuOptions.png);
  }
}